@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);.pagination li a {
  color: #636b6f;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.user-title {
  padding-bottom: 0.8em;
}

.navbar-nav,
.navbar-text {
  font-size: 16px;
}

.navbar-nav a:link,
.navbar-nav a:visited,
.navbar-nav a:hover {
  color: #636b6f;
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: #bf5329;
  font-weight: bold;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
}

a {
  color: #636b6f;
  font-size: 16px;
  text-decoration: none;
}

a:active,
a:focus,
a:visited {
  color: #bf5329;
}

::-moz-selection {
  background-color: rgba(191, 83, 41, 0.8);
  color: white;
}

::selection {
  background-color: rgba(191, 83, 41, 0.8);
  color: white;
}

.form-control:focus {
  border-color: #bf5329;
}

body::-moz-selection {
  background-color: #f2cfc2;
  color: white;
}

body::selection {
  background-color: #f2cfc2;
  color: white;
}

.card .form-group a {
  text-decoration: none;
}

