@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  max-width: 5%;
  height: auto;
}

.navbar-nav,
.navbar-text {
  font-size: 16px;
}

.navbar-nav a:link,
.navbar-nav a:visited {
  color: #636b6f;
  text-decoration: none;
}

.navbar-nav a:hover {
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 40px;
  color: #dc3545;
  font-weight: bold;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
}

a {
  color: #636b6f;
  font-size: 16px;
  text-decoration: none !important;
}

a:active,
a:focus,
a:visited {
  color: #dc3545;
  text-decoration: none;
}

::-moz-selection {
  background-color: rgba(191, 83, 41, 0.8);
  color: white;
}

::selection {
  background-color: rgba(191, 83, 41, 0.8);
  color: white;
}

.form-control:focus {
  border-color: #dc3545;
}

body::-moz-selection {
  background-color: #fae3e5;
  color: white;
}

body::selection {
  background-color: #fae3e5;
  color: white;
}

button {
  cursor: pointer;
}

.shadow-button {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.background {
  background: url("/storage/images/paris.jpg") no-repeat center fixed;
  background-size: cover;
}

a h2 {
  color: white;
}

a .icon {
  color: white;
}

.card {
  border: 0.2rem darkgrey;
  border-radius: 7px !important;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333739;
}

.card a {
  color: #bd2130;
  font-weight: bold;
  text-align: center;
}

.card #email,
.card #password {
  background-color: rgba(255, 255, 255, 0.7);
}

#logo {
  max-width: 100%;
  height: auto;
}

.message-height {
  height: 3rem;
}

.pagination li a {
  color: #636b6f;
  float: left;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
}

.user-title {
  padding-bottom: 0.8em;
}

.create {
  margin-left: 30px;
}

.trash {
  background: transparent no-repeat;
  border-style: none;
  cursor: pointer;
  overflow: hidden;
  color: #dc3545;
}

.link-color {
  color: #dc3545;
}

.link-color:hover {
  color: #dc3545;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 3;
  color: #dc3545;
  background-color: #ddd;
  border-color: #ddd;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .column-table table tr th:nth-child(3) {
    display: none;
  }

  .column-table table tr td:nth-child(3) {
    display: none;
  }

  .table.table-hover {
    width: 100%;
  }
}

@media only screen and (min-device-width: 800px) and (max-width: 1024px) {
  .column-table table tr th:nth-child(2) {
    display: none;
  }

  .column-table table tr td:nth-child(2) {
    display: none;
  }

  .column-table table tr th:nth-child(6) {
    display: none;
  }

  .column-table table tr td:nth-child(6) {
    display: none;
  }

  .table.table-hover {
    width: 100%;
  }

  .create {
    margin-left: 0;
  }
}

.add-project-button,
.add-project-button:hover {
  color: #dc3545;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .projects-table table tr th:nth-child(3) {
    display: none;
  }

  .projects-table table tr td:nth-child(3) {
    display: none;
  }

  .projects-table table tr th:nth-child(4) {
    display: none;
  }

  .projects-table table tr td:nth-child(4) {
    display: none;
  }

  .projects-table table tr th:nth-child(5) {
    display: none;
  }

  .projects-table table tr td:nth-child(5) {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-width: 600px) {
  .projects-table table tr th:nth-child(4) {
    display: none;
  }

  .projects-table table tr td:nth-child(4) {
    display: none;
  }
}

@media only screen and (min-device-width: 601px) and (max-width: 768px) {
  .projects-table table tr th:nth-child(3) {
    display: none;
  }

  .projects-table table tr td:nth-child(3) {
    display: none;
  }
}

.bg-orange {
  background-color: #ff6a33;
}

.breadcrumb {
  display: block;
  width: 30%;
  background-color: transparent;
}

.breadcrumb ul li {
  font-size: 18px;
  color: #727a80;
  display: inline-block;
  position: relative;
}

.breadcrumb ul li a {
  padding: 5px 5px 0;
  color: inherit;
  text-decoration: none;
}

.breadcrumb ul li a:hover {
  color: black;
}

.breadcrumb ul li + li:before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 7px;
  height: 7px;
  vertical-align: baseline;
  padding: 0;
  margin: 0 8px;
  position: relative;
  bottom: 1px;
  right: 5px;
}

#global-form {
  margin-right: 10px;
  margin-left: 10px;
  /*Media query*/
}

#global-form h2 {
  text-align: center;
}

#global-form body {
  font-family: sans-serif;
}

#global-form label {
  font-weight: 600px;
  font-size: 14px;
}

#global-form textarea {
  resize: none;
}

#global-form .col-form-label {
  font-weight: bold;
}

#global-form .label-red {
  font-size: 24px;
  font-weight: bold;
  color: #dc3545;
  text-transform: uppercase;
}

#global-form .textarea-min {
  height: 2rem;
  text-align: justify;
}

#global-form .textarea-100 {
  height: 5rem;
  text-align: justify;
}

#global-form .textarea-200 {
  height: 5rem;
  text-align: justify;
}

#global-form .textarea-300 {
  height: 5rem;
  text-align: justify;
}

#global-form .textarea-500 {
  height: 7.5rem;
  text-align: justify;
}

#global-form .textarea-800 {
  height: 9rem;
  text-align: justify;
}

#global-form .textarea-1000 {
  height: 10rem;
  text-align: justify;
}

#global-form .textarea-1400 {
  height: 13rem;
  text-align: justify;
}

#global-form .textarea-1600 {
  height: 14rem;
  text-align: justify;
}

#global-form .line-under-textarea {
  font-size: 0.8rem;
  font-style: italic;
  text-align: justify;
}

#global-form .tab-container {
  width: 100%;
  padding-top: 70px;
}

#global-form .forms-input,
#global-form section {
  clear: both;
  padding-top: 10px;
  display: none;
}

#global-form .forms-label {
  font-weight: 700;
  font-size: 15px;
  display: block;
  float: left;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  background: #f0f0f0;
}

#global-form #tab1:checked ~ #content1,
#global-form #tab2:checked ~ #content2,
#global-form #tab3:checked ~ #content3,
#global-form #tab4:checked ~ #content4,
#global-form #tab5:checked ~ #content5,
#global-form #tab6:checked ~ #content6,
#global-form #tab7:checked ~ #content7 {
  display: block;
}

#global-form .tab-container [id^="tab"]:checked + .forms_label {
  background: #fff;
  -webkit-box-shadow: inset 0 3px #dc3545;
          box-shadow: inset 0 3px #dc3545;
}

@media only screen and (max-width: 930px) {
  #global-form .forms-label span {
    font-size: 14px;
  }

  #global-form label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  #global-form .forms-label span {
    display: none;
  }

  #global-form .forms-label .fa {
    font-size: 16px;
  }

  #global-form .tab-container {
    width: 98%;
  }
}

.image-preview-input-title {
  margin-left: 2px;
}

.fdw-background {
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 0;
  margin-right: 0;
  width: 23.1rem;
  height: 6.5rem;
  position: absolute;
  opacity: 0;
}

.picture-row {
  width: 500px;
}

.picture-block {
  width: 500px;
}

.picture-block:hover > .fdw-background {
  opacity: 1;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  filter: alpha(opacity=0);
}

.input-style {
  background: none;
  border: none;
  color: white;
}

.delete-file {
  padding-left: 0.4rem;
  color: white;
}

.modal-content {
  width: 900px !important;
  right: 40%;
  outline: none;
}

.load-file {
  margin: 0.3rem 0.3rem;
}

.modify-picture {
  color: white;
  padding-top: 0.4rem;
  padding-left: 0.5rem;
}

.title-items {
  margin-top: 0.4rem;
  margin-bottom: 0.7rem;
}

.picture-title {
  margin-top: 1.5rem;
}

