@import "variables";

h1{
  font-family: $font-family-title;
  font-size: $font-size-title;
  color: $text-color-title;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height-base;
  color: $text-color-base;
}

