// Navbar style

@import "variables";

.navbar {
  background-color: rgba(255,255,255,0.5);
}
.navbar-nav, .navbar-text {
  font-size: $font-size-a;
}

.navbar-nav a:link, .navbar-nav a:visited, .navbar-nav a:hover {
  color: $text-color-base;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: rgba(255,255,255,0.5);
}