@import "variables";

.pagination li a {
  color: $text-color-base;
  float: left;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
}

.user-title{
  padding-bottom: 0.8em;
}

.create {
  margin-left : 30px;
}

.trash {
  background: transparent no-repeat;
  border-style: none;
  cursor:pointer;
  overflow: hidden;
  color:$brand-danger;
}

.link-color{
  color:$brand-danger;
}

.link-color:hover{
 color:$brand-danger;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 3;
  color: $brand-danger;
  background-color: #ddd;
  border-color: #ddd;
}

@media screen and (min-width: 200px) and (max-width: 640px) {

  .column-table table tr th:nth-child(3) {
    display: none;
  }

  .column-table table tr td:nth-child(3) {
    display: none;
  }

  .table.table-hover {
    width: 100%;
  }
}

@media only screen and (min-device-width: 800px) and (max-width: 1024px)  {
  .column-table table tr th:nth-child(2){
   display:none;
  }

 .column-table table tr td:nth-child(2){
    display:none;
  }

  .column-table table tr th:nth-child(6){
    display:none;
  }

  .column-table table tr td:nth-child(6){
    display:none;
  }
  .table.table-hover{
    width: 100%;
  }

  .create {
    margin-left : 0;
  }

}

