
// Body
$body-bg: red;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography

$font-family-title: "Anton", sans-serif;
$font-size-title: 18px;
$text-color-title: black;

//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family: "Raleway", sans-serif;
$font-size: 14px;
$line-height-base: 1.6;
$text-color-base: #636b6f;


h1{
  font-family: $font-family-title;
  font-size: $font-size-title;
  color :$text-color-title;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height-base;
  color: $text-color-base;
}



// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color-base;

// Inputs
$input-border: lighten($text-color-base, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color-base, 30%);
//
// Panels
$panel-default-heading-bg: #fff;
