@import "variables";

.pagination li a {
  color: #636b6f;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.user-title{
  padding-bottom: 0.8em;
}

//.table tbody tr:hover td, .table tbody tr:hover th {
//  background-color: #b1e8ff;
//}