@import "variables";

.pagination li a {
  color: #636b6f;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.user-title{
  padding-bottom: 0.8em;
}

.submit {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  color:#bf5329;
}

.link-color{
  color:#636b6f !important;
}

.link-color:hover{
 color:#bf5329 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 3;
  color: #bf5329;
  background-color: #ddd;
  border-color: #ddd;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .column-table table tr th:nth-child(2) {
    display: none;
  }

  .column-table table tr td:nth-child(2) {
    display: none;
  }

  .column-table table tr th:nth-child(3) {
    display: none;
  }

  .column-table table tr td:nth-child(3) {
    display: none;
  }

  .column-table table tr th:nth-child(6) {
    display: none;
  }

  .column-table table tr td:nth-child(6) {
    display: none;
  }
  .table.table-hover {
    width: 100%;
  }
}

@media only screen and (min-device-width: 800px) and (max-width: 1080px)  {
  .column-table table tr th:nth-child(2){
   display:none;
  }

 .column-table table tr td:nth-child(2){
    display:none;
  }

  .column-table table tr th:nth-child(6){
    display:none;
  }

  .column-table table tr td:nth-child(6){
    display:none;
  }
  .table.table-hover{
    width: 100%;
  }
}

